
@charset "UTF-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }
